{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gender list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gender in genders %}
            <tr>
                <td><a href="{{ path('gender_show', { 'id': gender.id }) }}">{{ gender.id }}</a></td>
                <td>{{ gender.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gender_show', { 'id': gender.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gender_edit', { 'id': gender.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gender_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
