<div class="row">
    <div class="col-lg-12 shift-tm20">
        {% if app.request.attributes.get('_rout') != "fos_user_security_login" %}
            {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
            <div class=" col-lg-12 absolute">
                <div class="col-lg-2 shiftRight">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}                    
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}                
                </div>
                </form>
            </div>
            {% endif%}
        {% endif%}
        <div class="center-block header">
            <img src="{{asset('bundles/artimonegeneral/images/logo_parthe.png')}}" class="img-responsive"/> 
        </div>
    </div>
</div>
