{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="col-lg-12 shift-tm20">
            <div class="col-lg-8">
                <p>
                Bienvenue sur mon site,<br/><br/> 
    Je m’appelle Sahar, je suis enchantée que vous soyez là.<br/><br/>
    Sur ce site vous allez pouvoir trouver mes créations (les plans d’aménagements, les illustrations, ...)
    Les liens vous dirigeront aux différents sites sur lesquels j’ai un compte;<br/><br/>
    Vous avez la possibilité d’acheter mes illustrations sur le site d’ «Etsy»; en ce qui concerne les plans d’aménagement n’hesitez pas à m’envoyer votre demande par mail depuis la page «contact».<br/>
    Je vous souhaite une très bonne visite.<br/>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <div class="cadre-photo">
                        <img src="{{asset('bundles/artimonegeneral/images/photo_sahar.jpg')}}"  class="photo-sahar" />
                    </div>
                </div>                
                <div class="col-lg-12 icones">
                    <img src="{{asset('bundles/artimonegeneral/images/icon_q.png')}}" />
                    <img src="{{asset('bundles/artimonegeneral/images/icon_f.png')}}" /> 
                    <img src="{{asset('bundles/artimonegeneral/images/icon_g.png')}}" /> 
                    <img src="{{asset('bundles/artimonegeneral/images/icon_t.png')}}" /> 
                    <img src="{{asset('bundles/artimonegeneral/images/icon_p.png')}}" /> 
                    <img src="{{asset('bundles/artimonegeneral/images/icon_d.png')}}" /> 
                    <img src="{{asset('bundles/artimonegeneral/images/icon_e.png')}}" />     
                </div>
            </div>
        </div>
        <div class="col-lg-11 photos-home">
            {% set runtimeConfig1 = {"thumbnail": {"size": [130, 172] }} %}
            {% set runtimeConfig2 = {"thumbnail": {"size": [141, 172] }} %}
            {% set runtimeConfig3 = {"thumbnail": {"size": [156, 172] }} %}
            {% set runtimeConfig4 = {"thumbnail": {"size": [177, 172] }} %}
            {% set runtimeConfig5 = {"thumbnail": {"size": [203, 172] }} %}
            <img src="{{asset('bundles/artimonegeneral/images/01Photos.png')|imagine_filter('my_thumb',runtimeConfig1)}}" />
            <img src="{{asset('bundles/artimonegeneral/images/02Esquisses.png')|imagine_filter('my_thumb',runtimeConfig2)}}" />
            <img src="{{asset('bundles/artimonegeneral/images/03Peintures.png')|imagine_filter('my_thumb',runtimeConfig3)}}" />
            <img src="{{asset('bundles/artimonegeneral/images/04Illustrations.png')|imagine_filter('my_thumb',runtimeConfig4)}}" />
            <img src="{{asset('bundles/artimonegeneral/images/05Plans.png')|imagine_filter('my_thumb',runtimeConfig5)}}" />
        </div>
    </div>
{% endblock %}