{% extends 'base.html.twig' %}

{% block body %}
    <h1>Photos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ photo.name }}</td>
            </tr>
            <tr>
                <th>Descphoto</th>
                <td>{{ photo.descPhoto }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if photo.creationDate %}{{ photo.creationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>image</th>
                <td>{% if photo.getWebPath() %}<img src="{{ asset(photo.getWebPath())|imagine_filter('my_thumb')  }}" />{% endif %}</td>
            </tr>
            <tr>
                <th>absPath</th>
                <td>{% if photo.getAbsolutePath() %}<a href="{{ photo.getAbsolutePath() }}" />absPath</a>{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('photos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('photos_edit', { 'id': photo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
